<div class="row">
  <div class="col-lg-4 col-md-1 col-xs-1 p-3" [routerLink]="['/list-coin']">
    <div class="card">
      <img src="/assets/img/card.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Moedas</b></h4>
        <p>Lista de Moedas<br />somente este card redireciona</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-1 col-xs-1 p-3">
    <div class="card">
      <img src="/assets/img/card.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Menu 2</b></h4>
        <p>Este item poderia ser um componente custom...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-1 col-xs-1 p-3">
    <div class="card">
      <img src="/assets/img/card.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Menu 3</b></h4>
        <p>ou o Mat-Card</p>
      </div>
    </div>
  </div>
</div>
